<div class="container">
  <table class="table" *ngIf="orders">
    <thead>
    <tr>
      <th>ID</th><th>Date</th><th>Status</th><th>CustomerId</th><th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of orders._embedded.orders">
      <td>{{p.id}}</td>
      <td>{{p.createdAt|date:'dd/MM/yyyy'}}</td>
      <td>{{p.status}}</td>
      <td>{{p.customerId}}</td>
      <td>
        <button class="btn btn-outline-success" (click)="getOrderDetails(p)">
          Order Details
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
